<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platforma Staży i Praktyk</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<header>
    <h1>Platforma Staży i Praktyk</h1>
    <nav>
        <ul>
            <li><a href="MainPage.html">Strona główna</a></li>
            <li><a href="#">Oferty staży</a></li>
            <li><a href="#">Oferty praktyk</a></li>
            <li><a href="registrationPage.html">Zarejestruj się</a></li>
            <li><a href="loginPage.html">Zaloguj się</a></li>
        </ul>
    </nav>
</header>

<section id="search">
    <h2>Wyszukaj oferty:</h2>
    <form>
        <input type="text" name="search" placeholder="Wpisz frazę...">
        <button type="submit">Szukaj</button>
    </form>
</section>

<section id="featured-offers">
    <h2>Najnowsze oferty:</h2>

</section>

<footer>
    <p>&copy; 2024 Platforma Staży i Praktyk</p>
</footer>



</body>
</html>
